<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <meta name=viewport content="width=device-width, initial-scale=1">
        <link rel='stylesheet' href='/stylesheets/style.css' />
        <script src="/javascripts/jquery-2.1.4.min.js"></script>
    </head>
    <body>
        <header>
            <div class="header-img"></div>
            <div class="title-div"><h1>Colin's Blog</h1></div>
        </header>
        <main>
            <div id="lastPostsLoader"></div>
            <a href='http://www.freepik.com/free-vector/vector-robot-silhouettes-free-for-download_714901.htm'>Robot Graphics by Freepik</a>
            <aside class="hidden-block">
                <h3>About Me</h3>
                <div class="about">I have been a teacher of guitar, German, math, science, and literature. Now I am on the path to become a web developer. Contact me at colinalford@gmail.com</div>
                <img src="/images/me_chair.jpg" alt="Little Colin, Big Chair" />
            </aside>
        </main>

    <script src="/javascripts/ajax.js"></script>
    </body>
</html>
